<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Questionario</title>
</head>
<body>
<header>
    <p><span>Product of the day</span></p>

    <div th:if="${questPage}">
        <form method="post" data-th-action="@{'/questionnaire'}">
            <fieldset>
                <legend>Questions</legend>
                <tr th:each="question : ${questions}">
                    <td th:text="${questions.question}"></td>
                    <input type="text" id="answer" name="answer" required>
                    <br><br>
                </tr>
                <input type="submit" value="cancel">
                <input type="submit" value="next">
            </fieldset>
        </form>
    </div>


    <br>
    <div th:unless="${questPage}">
        <form method="post" data-th-action="@{'/questionnaire'}">
            <fieldset>
                <legend>Stats</legend>
                <label for="age">Age:</label>
                <input type="text" id="age" name="age">

                <br>

                <label for="sex">Sex:</label>
                <input type="text" name="sex" id="sex">

                <br>

                <label for="eLevel">Expertise Level:</label>
                <input type="text" name="eLevel" id="eLevel"><br>

                <br>
                <input type="submit" value="previous">
                <input type="submit" value="cancel">
                <input type="submit" value="submit">
            </fieldset>
        </form>
    </div>

</header>
</body>
</html>